
body {
    background-color: #161B22;
    color: #ffffff;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(212, 255, 62, 0.75)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  @media (max-width: 768px) {
    .hero-section .row {
      flex-direction: column;
    }
    .hero-section .col-8,
    .hero-section .col-4 {
      width: 100%;
    }
  }